
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Quicksand&display=swap');

/*--H1--*/

body {
  background-color: #fff;
}

header {
  background-color: #c7c6c6;
  color: #fff;
  padding: 5px 2px;
  text-align: center;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav a {
  border-radius: 5px;
  color: #fff;
  padding: 1em;
  text-decoration: solid;
}

nav a:hover {
  background-color: #acabab;
}

/*--Image--*/ 

.container { 
  margin: 20px auto 20px auto;
  max-width: 400px;
  }
  
  img {
    max-width: 100%;
  }
  
  figure {
    padding: 30px;
  }

  figure figcaption {
    font-size: 50%;
    text-align: center;
  }

/*--Body Text--*/

  h2 {
    background-color: #c7c6c6;
    color: #fff;
    text-align: center;
      font-family: "PT Sans Narrow", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

  .Biography {
    border-color: #c7c6c6;
    border-style: groove;
    border-width: 2px;
    padding: 6px;
    box-shadow: 3px 3px 6px rgb(213, 213, 213);
    padding: 1em 2em;
  }

  h3 {
    background-color: #c7c6c6;
    color: #fff;
    text-align: center;
  }

  h4 {
    border-color: #c7c6c6;
    border-style: groove;
    border-width: 1px;
    padding: 2px 2px;
  }

  table, th, td {
    border: 1px solid;
  }

/*--Footer--*/

  footer {
    background-color: #c7c6c6;
    padding: 5px 0px;
    color: #fff;
    text-align: center;
      font-family: "PT Sans Narrow", sans-serif;
      font-weight: 400;
      font-style: normal;
  }
  