
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Quicksand&display=swap');

/*--H1--*/

body {
  background-color: #c7c7c7;
  position: relative;
}

.wrapper-main {
  width: 1100px;
  margin: 0 auto;
}

header {
  border: 1px solid #9d9d9d;
  border-radius: 5px;
  background-color: #acabab;
  color: #fff;
  padding: 5px 2px;
  text-align: center;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
    height: 155px;
    position: relative;
  }

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  text-align: center;
}

nav a {
  border-radius: 20px;
  color: #fff;
  padding: 1em;
  text-decoration: solid;
  justify-content: center;
  text-align: center;
}

nav a:hover {
  cursor: pointer;
  border-radius: 20px;
  background-color: #848484;
}

/*--Image--*/ 

.container {
  margin: 20px auto 20px auto;
  max-width: 900px;
  max-height: 450px;
  position: relative;
  text-align: center;
  }
  
.figure {
  width: 300px;
  height: 200px;
  background-image: url(img/MREM.jpg) ;
  background-size: 100%;
  background-position: center;
  box-shadow: 2px 2px #7e7e7e;
}

  figure figcaption {
    font-size: 50%;
    text-align: center;
  }

/*--Body Text--*/

  h2 {
    background-color: #acabab;
    color: #fff;
    padding: 5px 2px;
    text-align: center;
      font-family: "PT Sans Narrow", sans-serif;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      border-radius: 5px;
    }

  .Biography {
    border-radius: 20px;
    border-color: #7e7e7e;
    border-style: groove;
    border-width: 2px;
    padding: 6px;
    box-shadow: 4px 2px #7e7e7e;
    padding: 10px 20px;
  }

  h3 {
    background-color: #acabab;
    color: #fff;
    padding: 5px 2px;
    text-align: center;
    font-family: "PT Sans Narrow", sans-serif;
      font-weight: 400;
      font-style: normal;
      border-radius: 5px;
  }

  h4 {
    border-color: #acabab;
    border-style: groove;
    border-width: 1px;
    padding: 2px 2px;
  }

/*--Tables--*/

  table, th, td {
    border-collapse: separate;
    border-radius: 20px;
    padding: 20px;
    position: relative;
  }

  th {
    background-color: #acabab;
    color: #fff;
    text-align: center;
      font-family: "PT Sans Narrow", sans-serif;
      font-weight: 400;
      font-style: normal;
    border: 1px solid #fff;
  }

  td {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

/*--Table 1--*/

  #tableA {
    width: 100%;
  }

  #columnA {
    text-align: center;
  }

  #columnB {
    text-align: center;
  }

  #columnC {
    text-align: center;
  }

  #columnD {
    border-right: 1px solid #fff;
    text-align: center;
  }

/*--Table 2--*/

  #tableB {
    width: 100%;
  }

  #columnE {
    text-align: center;
  }

  #columnF {
    text-align: center;
  }

  #columnG {
    text-align: center;
  }

  #columnH {
    text-align: center;
  }

  #columnI {
    text-align: center;
  }

  /*--Table 3--*/

  #tableC {
    width: 100%;
  }

  #columnJ {
    text-align: center;
  }

  #columnK {
    text-align: center;
  }

  #columnL {
    text-align: center;
  }

  #columnM {
    text-align: center;
  }

  #columnN {
    text-align: center;
  }


/*--Footer--*/

  footer {
    background-color: #acabab;
    padding: 5px 0px;
    color: #000;
    text-align: center;
      font-family: "PT Sans Narrow", sans-serif;
      font-weight: 400;
      font-style: normal;
      position: relative;
      border: 1px solid #9d9d9d;
      border-radius: 5px;
  }
  
/*--Mobile Version--*/

  @media (max-width: 600px) {
    
    .wrapper-main {
      width: 80%
    }

  }